.img-standard-width{
}
.img-width{
}

.active-transition{
  -webkit-transition: width 8ms linear 1s;
  /*Firefox*/
  -moz-transition: width 8ms linear 1s;
  /*Opera*/
  -o-transition: width 8ms linear 1s;
  /*Standard*/
  transition: width 8ms linear 1s;
}
