<div class="row justify-content-center">
  <h1 style="align-content: center">Contact</h1>
</div>
<div class="row pb-5" style="margin: 70px">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-5" style="float: right">
        <div class="form-group row">
          <strong  class="col-md-2">Address:</strong>
          <div class="col-md-10">
            <p >Stuttgart </p>
          </div>
        </div>
        <hr>
        <div class="form-group row">
          <strong  class="col-2">Email:</strong>
          <div class="col-10">
            <a href="mailto:webmaster@example.com">pepe@gmail.com </a>
          </div>
        </div>
        <hr>
        <div class="form-group row">
          <strong  class="col-2">Phone:</strong>
          <div class="col-10">
            <p >654654654</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="span8">
          <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                  src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
